<div class="parentDiv">
    <div>
        <app-area></app-area>
    </div>
    
    <div  fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" style="margin-top: 30px;" >
<mat-card fxFlex="25">
    <app-card></app-card>
</mat-card> 
<mat-card fxFlex="25">
    <app-card></app-card>
</mat-card> 
<mat-card fxFlex="25">
    <app-card></app-card>
</mat-card> 
<mat-card fxFlex="25">
    <app-card></app-card>
</mat-card> 

    </div>
    
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <div fxFlex="65">
            <app-table></app-table>
        </div>
        <div fxFlex="35">
            <app-pie></app-pie>
        </div>
    
    </div>
</div>

